# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.venv/

env/

# Flask sessions or temp files
flask_session/

# Cache
.cache/
cache

# Environment variable files
.env
envexample

# macOS
.DS_Store


.cache