# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# VSCode settings (optional)
.vscode/

# macOS files
.DS_Store

# Python distribution / packaging
build/
dist/
*.egg-info/

# Log files
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

./flask_session